.navbar {
	background : #6AA6D6;
}

#logo {
	position: relative;
	float:left;
}
#logo a {
	color: #fff;
	font-family: 'Righteous', cursive;
	display: block;
	font-size: 20px;
	line-height: 50px;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	background : #6AA6D6;

}

a.show-sidebar {
	float: left;
	color: #6d6d6d;
	outline: none;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}

#top-panel {
    line-height: 50px;
    height: 50px;
    background: #ebebeb;
}

.top-panel-right {
    padding-left: 0;
}

#search {
    position: relative;
    margin-left: 20px;
}

#search > input {
  width: 80%;
  background: #dfdfdf;
  border: 1px solid #C7C7C7;
  text-shadow:0 1px 1px #EEE;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #686868;
  line-height: 1em;
  height: 30px;
  padding: 0 35px 0 10px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

div {
    display: block;
}

.user-mini > span {
    display: block;
    font-size: 12px;
    color: #363636;
    margin-bottom: -4px;
}

.pull-right {
    float: right !important;
}

.panel-menu a.account {
    height: 50px;
    padding: 5px 0 5px 10px;
    line-height: 18px;
}

.user-mini > span.welcome {
    font-weight: bold;
    margin-top: 2px;
}

.panel-menu .dropdown-menu {
    position: absolute !important;
    background: rgba(0, 0, 0, 0.7) !important;
    padding: 0;
    border: 0;
    right: 0;
    left: auto;
    min-width: 100%;
}

.panel-menu .dropdown-menu > li > a {
    padding: 5px 10px !important;
    color: #f0f0f0;
}