/*#sidebar-left {
    position: relative;
    z-index: inherit;
    height:100%;
    background: #6AA6D6;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
*/