
Filter par libellé
<input type="text" ng-model="query" ng-click="count = count + 1" ></input>
<div ng-repeat="todo in todos | filter:query" class="list-group">
	<a href="#" class="list-group-item active">{{todo.libelle}}</a>
</div>


<table class="table">
	<thead>
		<tr>
			<th>Libelle</th>
		</tr>
	</thead>
	<tr ng-repeat="todo in todos | filter:query" ng-click="" style="cursor:pointer" class="list-group">   
		<td class="list-group-item ">{{todo.libelle}}</td>
	</tr>
</table>    

<table data-url="{{todos}}" data-height="299" data-click-to-select="true">
    <thead>
        <tr>
            <th data-field="state" data-checkbox="true"></th>
            <th data-field="id" data-align="right">Item ID</th>
            <th data-field="name" data-align="center">Item Name</th>
            <th data-field="price" data-align="">Item Price</th>
        </tr>
    </thead>
</table>
